@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	box-sizing: border-box;
	overflow: hidden;
}

body {
	background: linear-gradient(45deg, #00848d, rgb(127, 255, 212));
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

.container {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	width: 400px;
	transition: all .8s ease-in-out
}

.container:hover {
	transform: scale(1.1);
}

.header {
	background-color: #2ecc71;
	color: #fff;
	border-radius: 10px;
	padding: 1px;
	margin-bottom: 20px;
}

.form {
	padding: 30px 40px;
}

h2 {
	text-align: center;
	font-size: 24px;
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: realtive;
}

.form-control label {
	color: #777;
	display: block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	font-size: 14px;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: red;
}

.form-control small {
	color: red;
	position: relative;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	cursor: pointer;
	background-color: #fff;
	border: 2px solid #2ecc71;
	border-radius: 10px;
	color: #2ecc71;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	transition: background-color 0.5s ease-in-out;
}

.form button:hover {
	background-color: #2ecc71;
	color: #fff;
}